header {
    height: 100px;
    border: solid;
    border-color: black;
    align-self: flex-start;
}
body {
    display: flex;
    grid-template-columns:60% 40%;
    border: solid black;
    height: 1000px;
}
.modifier {
    margin-top: .6em;
    margin-left: .5em;
}
.character-sheet{
    height: 700px;
    width: 525px;
    display: grid;
    grid-template-columns: 34% 33% 33%;
    border: solid;
    border-color: black;
    background-image: url(../assets/html-assets/character-sheet.png);
    background-repeat: no-repeat;
    margin-right: 7em;
    
}
.sectionOne {
    display: grid;
    grid-template-rows:73% 25% ;
    width: 100%;
    height: 700px;
    border: solid blue;
}
.attb-skill {
    display: grid;
    grid-template-columns: 45% 55%;
    border: solid brown;
}
.attributes {
    display: grid;
    grid-template-rows: 25% 13% 13% 12% 13% 13%;
    text-align: center;
    border: solid purple;
}
.skills-prof {
    border: solid black;
}

.percep-prof {
    border: solid green;
}
.sectionTwo {
    display: grid;
    grid-template-rows: 14% 10% 8% 7% 7%;
    width: 100%;
    height: 700px;
    border: solid red;   
}

.ac-int-spd {
    display: grid;
    grid-template-columns: 36% 28% 33%;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.sectionThree {
    display: grid;
    grid-template-rows:14% 11% 7% 7% 7%;
    width: 100%;
    height: 700px;
    border: solid black;    
}
.sectionThree, section {
    border: solid red 1px ;
}
.rolls-display {
    height: 350px;
    width: 300px;
    border: solid black;
    margin-top: 2em;
}