header {
    height: 100px;
    border: solid;
    border-color: black;
    align-self: flex-start;
}
body {
    background-image: url(../assets/html-assets/background-tower.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    grid-template-columns:10% 60% 40%;
    border: solid black;
    height: 1000px;
}
.statAssignBox {
    height: 370px;
    width: 100px;
    display: grid;
    grid-template-rows: ;
    margin-top: 18em;
    margin-left: 2em;
}
.pick {
    display: grid;
    justify-content: right;
    align-items: center;
}

.modifier {
    margin-top: .6em;
    margin-left: .5em;
}
.character-sheet{
    height: 700px;
    width: 525px;
    display: grid;
    grid-template-columns: 34% 33% 33%;
    background-image: url(../assets/html-assets/character-sheet.png);
    background-repeat: no-repeat;
    opacity: .9;
    margin-right: 20px;
    margin-left: 20px;
    margin-top:2em;
    border: solid lightslategrey 2px;
    
    
}
.sectionOne {
    display: grid;
    grid-template-rows:73% 25% ;
    width: 100%;
    height: 700px;
    
}
.attb-skill {
    display: grid;
    grid-template-columns: 45% 55%;
    
}
.attributes {
    display: grid;
    grid-template-rows: 25% 12% 13% 12% 12% 13%;
    text-align: center;
    line-height: .5em;
    
}
.skills-prof {
    
}

.percep-prof {
    
}
.sectionTwo {
    display: grid;
    grid-template-rows: 14% 10% 8% 7% 7%;
    width: 100%;
    height: 700px;
     
}

.ac-int-spd {
    display: grid;
    grid-template-columns: 36% 28% 33%;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.sectionThree {
    display: grid;
    grid-template-rows:14% 11% 7% 7% 7%;
    width: 100%;
    height: 700px;
        
}

.rolls-display {
    display: grid;
    grid-template-rows: 50% 50%;
    height: 250px;
    width: 300px;
    border: solid black;
    margin-top: 2em;
}
.rollRowOne {
    border: solid black;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    text-align: center;
}

.rollRowTwo {
    border: solid black;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    text-align: center;
}
span , p {
    margin-left: .5em;
}
:checked + section {
    border: solid blue 5px;
    background-color: blue;
} 
/* .rollOne:hover{
    transform: scale(1.2);
    box-shadow:  5px 5px 5px 5px black;
    border-radius: 15%;
    opacity: 1;
} */
#radios {
    transform: scale(1.2);
    box-shadow:  5px 5px 5px 5px black;
    border-radius: 15%;
    opacity: 1;

}

input {
    display: none;
}

.dialog {
    position: relative;
    width: 500px;
    height: 300px;
    background: yellow;
    -webkit-border-radius: 15px;
    -moz-border-radius: 10px;
    border-radius: 40px;
    box-shadow: black 8px 8px;
    font-size: 1.5em;
    font-family: cursive;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-left: 20px;
}

.dialog:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 102px 22px 0;
    border-color: yellow transparent;
    display: block;
    z-index: 1;
    bottom: -102px;
    left: 310px;
    
    
}
