

.right-body {
        
    width: 210px;
    height: 180px;
    margin-left: 85%;
    margin-top: -115%;



}
.dialog {
    position: relative;
    width: 580px;
    height: 700px;
    background: yellow;
    -webkit-border-radius: 15px;
    -moz-border-radius: 10px;
    border-radius: 40px;
    margin-left: 90%;
    margin-top: -85%;
    box-shadow: black 8px 8px;
    font-size: 1.5em;
    font-family: cursive;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    

}

.dialog:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 102px 22px 0;
    border-color: yellow transparent;
    display: block;
    z-index: 1;
    bottom: -102px;
    left: 210px;
    
    
}



.left-body {
    
    
    
    margin-left: -30%;
    margin-right: 55%;
    

}

.wizard {

    margin-bottom: 30%;
    
    margin-left: 135%;
    height: 500px;
    width: 330px;
    
   
}

button {

    height: 50px;
    width: 500px;
    background-color: red;
    color: yellow;
    font-size: 2em;
    font-weight: bold;
    font-family: papyrus;
    font-style: italic;
}
    

.footer {

    margin-top: 30%;
    margin-bottom: 65%;
    margin-left: 30%;
    
    
}
