

.right-body {
        
    width: 210px;
    height: 180px;
    margin-left: 85%;
    margin-top: -115%;



}

.left-body {
    
    
    margin-top: 10%;
    margin-left: -10%;
    margin-right: 35%;
    justify-content: space-around;
    

}
.dialog {
    position: relative;
    width: 580px;
    height: 700px;
    background: yellow;
    -webkit-border-radius: 15px;
    -moz-border-radius: 10px;
    border-radius: 40px;
    margin-left: 50%;
    box-shadow: black 8px 8px;
    font-size: 1.5em;
    font-family: cursive;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    

}

.dialog:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 102px 22px 0;
    border-color: yellow transparent;
    display: block;
    z-index: 1;
    bottom: -102px;
    left: 210px;
    
    
}
.races {
    position: relative;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
    height: 250px;
    width: 180px;
    opacity: .5;

}

.races:hover {

    transform: scale(1.2);
    box-shadow:  5px 5px 5px 5px black;
    border-radius: 15%;
    opacity: 1;
    


}

label {

   
    position: relative;
    width: 100%;
    color: yellow;
    font-family: papyrus;
    text-shadow: black 1px 1px;
    font-size: .9em;
    text-align: center;
    
}

h2 {

    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    
}




.wizard {

    margin-bottom: 30%;
    
    margin-left: 135%;
    height: 500px;
    width: 330px;
    
        animation: fadeIn ease 5s;
        -webkit-animation: fadeIn ease 5s;
        -moz-animation: fadeIn ease 5s;
        -o-animation: fadeIn ease 5s;
        -ms-animation: fadeIn ease 5s;
        }
        @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
    
   


button {

    height: 50px;
    width: 500px;
    background-color: red;
    color: yellow;
    font-size: 2em;
    font-weight: bold;
    font-family: papyrus;
    font-style: italic;
}
    

.footer {

    margin-top: 40%;
    margin-bottom: 85%;
    margin-left: 13%;
    
    
}
